* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #0b3c5d;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #0b3c5d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #094063;
}

a {
    text-decoration: none;
    color: #0b3c5d;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.success {
    color: green;
    text-align: center;
}
.dashboard {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h4 {
    margin-bottom: 10px;
    color: #0b3c5d;
}

.card a {
    display: inline-block;
    margin-top: 10px;
}
.card p{
    display: inline-block;
    margin-top: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background: #0b3c5d;
    color: #fff;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table tr:hover {
    background: #f1f1f1;
}

.action a {
    margin: 0 5px;
    color: #0b3c5d;
    font-weight: bold;
}
.status {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}

.status.Pending {
    background: orange;
}

.status.Approved {
    background: green;
}

.status.Rejected {
    background: red;
}
